.naslov {
text-align: center;
color: darkolivegreen ;
font-size: 70px;
}
.podela
{
background-color: burlywood;
font-size: 28px;
}
body {
background-color: antiquewhite;
}
.ustipak
{
    text-align: center;
}