.naslovi {
text-align: center;
color: darkolivegreen ;
font-size: 70px;
}
.podela
{
background-color: burlywood;
font-size: 28px;
}

body {
background-color: antiquewhite;
}
.naslov
{
    text-align: center;
}
.slikau
{
text-align: center;
}
.ustipaks
{
    font-size: 20px;
}
.slikurina
{
    height: 300px;
}
.recipelist
{
    width: 400px;
    margin: 10px auto;
    border: 2px olive;
    box-sizing: border-box;
    
}